body {
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.responsive{
    max-width: 50%;
    height: auto;
}

img {
    padding: 15px;
}

.displayBox {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scroll-box{
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;
}